<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MYBUCKET_login</title>
    <link rel="stylesheet" href="../static/added_logo.css">
</head>
<body>
<div id="wrap">
    <div class="title">
        <h1><img src="../static/images/login_logo.png" alt="main_logo"></h1>
    </div>
    <div class="input-boxs">

            <div class="form-group">
                <input type="text" id="ID" placeholder="ID" required>
                <label for="ID" class="form-label">ID</label>
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Password" required>
                <label for="password" class="form-label">Password</label>
            </div>

        <p class="enter"><a href="#">회원가입</a> · <a href="#">로그인</a></p>
    </div>
</div>

</body>
</html>