<!DOCTYPE html>
<html lang="ko">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>MyBucket_list</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="putinfo_page.css">
        <script src="https://kit.fontawesome.com/b459532350.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script>
            $(document).ready(function () {
                showBucket();
            });

            function showBucket() {
                $.ajax({
                    type: 'GET',
                    url: '/show?bucket_give=버킷데이터',
                    data: {},
                    success: function (response) {
                        let mybuckets = response['bucket_lists']
                        for (let i = 0; i < mybuckets.length; i++) {
                            let title = mybuckets[i]['title']
                            let heart = mybuckets[i]['heart']
                            let difficulty = mybuckets[i]['difficulty']
                            let photo = mybuckets[i]['photo']
                            let photo1 = mybuckets[i]['photo1']
                            let photo2 = mybuckets[i]['photo2']
                            let period_Y = mybuckets[i]['period_Y']
                            let period_M = mybuckets[i]['period_M']
                            let exampleFormControlTextarea1 = mybuckets[i]['exampleFormControlTextarea1']

                            let temp_html = `<div class="card">
            <div class="memo">
                <p class="subject"><img src="${heart}" alt="heart">
                    <span>${title}</span></p>
            </div>
            <div class="list">
                <ul>
                    <li>난이도
                        <div class="starpoint_wrap">
                                <div class="starpoint_box">
                                    <label for="starpoint_1" class="label_star" title="0.5"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_2" class="label_star" title="1"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_3" class="label_star" title="1.5"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_4" class="label_star" title="2"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_5" class="label_star" title="2.5"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_6" class="label_star" title="3"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_7" class="label_star" title="3.5"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_8" class="label_star" title="4"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_9" class="label_star" title="4.5"><span
                                            class="blind">${difficulty}</span></label>
                                    <label for="starpoint_10" class="label_star" title="5"><span
                                            class="blind">${difficulty}</span></label>
                                    <input type="radio" name="starpoint" id="starpoint_1" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_2" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_3" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_4" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_5" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_6" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_7" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_8" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_9" class="star_radio">
                                    <input type="radio" name="starpoint" id="starpoint_10" class="star_radio">
                                    <span class="starpoint_bg"></span>
                                </div>
                            </div>
                    </li>

                    <li>달성목표기간
                        <span class="preten">~ ${period_Y}.${period_M}</span>
                    </li>
                    <li>사진첨부
                        <ul class="no_img">
                            <li><img src="${photo}" alt=""></li>
                            <li><img src="${photo1}" alt=""></li>
                            <li><img src="${photo2}" alt=""></li>
                        </ul>
                    </li>
                    <li>내용
                        <p class="preten">${exampleFormControlTextarea1}</p>
                    </li>
                </ul>
                <div class="buttons">
                    <button  type="complete" class="btn preten">완료</button>
                    <button onclick="changeBucket('${title}')" type="modify" class="btn preten">수정</button>
                    <button onclick="deleteBucket('${title}')" type="delete" class="btn preten">삭제</button>
                </div>
            </div>
        </div>`
                            $('#bucket-box').append(temp_html)
                        }
                    }
                });
            }

            function changeBucket(title) {
                $.ajax({
                    type: 'POST',
                    url: '/show/change',
                    data: {title_give:title},
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload()
                    }
                });
            }

            function deleteBucket(title) {
                $.ajax({
                    type: 'POST',
                    url: '/show/delete',
                    data: {title_give:title},
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload()
                    }
                });
            }

        </script>
    </head>
    <body>
    <div id="wrap">
        <header>
            <h1 class="logo">
                <img src="images/small_logo.png" alt="logo_small">
            </h1>

            <nav class="search-box">
                <input class="search-txt" type="text" placeholder="키워드를 검색해 주세요">
                <a href="#" class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </nav>

            <nav class="lnb">
                <ul>
                    <li><img src="images/human_icon.png" alt="human_icon">
                        <ul>
                            <li><a href="#">마이페이지</a>
                            </li>
                            <li><a href="#">리스트 작성하기</a>
                            </li>
                            <li><a href="#">나의 버킷리스트</a>
                            </li>
                            <li><a href="#">중요 버킷리스트</a>
                            </li>
                            <li><a href="#">완료한 버킷리스트</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </nav>
        </header>
    </body>
</html>