<!DOCTYPE html>
<html lang="ko">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>MyBucket_list</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="putinfo_page.css">
        <script src="https://kit.fontawesome.com/b459532350.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>MyBucket_list</title>
            <link rel="stylesheet" href="putinfo_page.css">
            <script src="https://kit.fontawesome.com/b459532350.js" crossorigin="anonymous"></script>
            <script>

            function makeBucket() {
                let title = $('#title').val();
                let heart = $('#heart').val();
                let difficulty = $('#difficulty').val();
                let photo = $('#photo').val();
                let photo1 = $('#photo1').val();
                let photo2 = $('#photo2').val();
                let period_Y = $('#period_Y').val();
                let period_M = $('#period_M').val();
                let exampleFormControlTextarea1 = $('#exampleFormControlTextarea1').val();


                $.ajax({
                    type: "POST",
                    url: "/bucket",
                    data: {title_give:title,heart_give:heart,difficulty_give:difficulty,photo_give:photo,photo1_give:photo1,photo2_give:photo2,period_Y_give:period_Y,period_M_give:period_M,exampleFormControlTextarea1_give:exampleFormControlTextarea1},
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.href = '/show';
                    }
                })
            }
        </script>
</head>
<body>
<div id="wrap">
    <header>
        <h1 class="logo">
            <img src="images/small_logo.png" alt="logo_small">
        </h1>

        <nav class="search-box">
            <input class="search-txt" type="text" placeholder="키워드를 검색해 주세요">
            <a href="#" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </nav>

        <nav class="lnb">
            <ul>
                <li><img src="images/human_icon.png" alt="human_icon">
                    <ul>
                        <li><a href="#">마이페이지</a>
                        </li>
                        <li><a href="javascript:window.location.reload();">리스트 작성하기</a>
                        </li>
                        <li><a href="javascript:window.location.href ='/second'">나의 버킷리스트</a>
                        </li>
                        <li><a href="#">중요 버킷리스트</a>
                        </li>
                        <li><a href="#">완료한 버킷리스트</a>
                        </li>
                    </ul>
                </li>
            </ul>


        </nav>
    </header>

    <div class="middle">
        <h2>버킷리스트 작성하기</h2>
        <div class="line"></div>

    </div>

    <div class="content">
        <div class="card">
            <div class="memo">
                <p class="subject">
                    <img src="images/heart_gray.png" alt="heart" id="heart">
                    <input class="title" id="title" type="text" placeholder="제목을 입력해 주세요">
                </p>

            </div>
            <div class="list">
                <ul>
                    <li>난이도
                        <span class="preten" id="difficulty">★★★★★</span>
                    </li>

                    <li class="date">달성목표기간
                        ~<input class="date_Y" type="text" placeholder="YYYY" id="period_Y">.<input class="date_M" type="text"
                                                                                      placeholder="MM" id="period_M">
                    </li>
                    <li>사진첨부
                        <ul class="no_img">
                            <li><input class="photo" id="photo" type="text" placeholder="사진파일주소를 입력해주세요."></li>
                            <li><input class="photo" id="photo1" type="text" placeholder="사진파일주소를 입력해주세요."></li>
                            <li><input class="photo" id="photo2" type="text" placeholder="사진파일주소를 입력해주세요."></li>
                        </ul>
                    </li>
                    <li>내용
                        <p>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="내용을 입력해 주세요"></textarea>
                        </p>
                    </li>
                </ul>
                <div class="buttons">
                    <button onclick="makeBucket()" type="publish" class="btn preten">게시</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>